.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.content {
    flex: 1 0 auto;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.overflow-hidden {
    overflow: hidden;
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}

.hidden-tablet {
    @include tablet {
        display: none !important;
    }
}

.visible-tablet {
    @include tablet-above {
        display: none !important;
    }
}

.admin {
    background: var(--color-bg-dark);
}

::-webkit-scrollbar { width: 0; height: 0} // чтобы скрыть полосу прокрутки

::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url(https://cdn-icons-png.freepik.com/256/8818/8818517.png) no-repeat center;
    background-size: contain;
}
