:root {
    --color-gradient: linear-gradient(#030303, #2E1D1F, #030303);
    --color-dark: #2E1D1F;
    --color-dark-transparent: rgba(5, 4, 4, 0.2);
    --color-light-transparent: rgba(255,255,255, 0.2);
    --color-light: #FFFFFF;
    --color-accent: #EACAA1;
    --color-bg-button: #EACAA1;
    --color-bg-dark: #160F10;
    --color-bg-input: rgba(217, 217, 217, 0.15);

    --border-button: 1px solid var(--color-light);
    --border-button-hover: 1px solid var(--color-accent);
    --border-radio-button: 1px solid var(--color-accent);
    --border: 1px solid var(--color-accent);
    --border-raduis-button: 10px;
    --border-raduis-form: 10px;
    --border-radius-auth-form: 20px;
    --border-radius-banner: 20px;
    --border-radius-input: 5px;
    --border-cart: 1px solid var(--color-light-transparent);

    --font-family-base: 'Montserrat';
    --font-family-accent: 'Leotaro';

    --container-width: 1110px;
    --container-padding-x: 20px;

    --section-padding-y: 60px;

    --input-height: 40px;
    --button-height: 47px;

    --transition-duration: 0.2s;

    @include desktop {
        --section-padding-y: 50px;
    }

    @include mobile {
        --section-padding-y: 30px;
    }
}
