@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100vh;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Leotaro";
  src: url(../fonts/Leotaro-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-gradient: linear-gradient(#030303, #2E1D1F, #030303);
  --color-dark: #2E1D1F;
  --color-dark-transparent: rgba(5, 4, 4, 0.2);
  --color-light-transparent: rgba(255,255,255, 0.2);
  --color-light: #FFFFFF;
  --color-accent: #EACAA1;
  --color-bg-button: #EACAA1;
  --color-bg-dark: #160F10;
  --color-bg-input: rgba(217, 217, 217, 0.15);
  --border-button: 1px solid var(--color-light);
  --border-button-hover: 1px solid var(--color-accent);
  --border-radio-button: 1px solid var(--color-accent);
  --border: 1px solid var(--color-accent);
  --border-raduis-button: 5px;
  --border-raduis-form: 10px;
  --border-radius-auth-form: 20px;
  --border-radius-banner: 20px;
  --border-radius-input: 5px;
  --border-cart: 1px solid var(--color-light-transparent);
  --font-family-base: "Montserrat";
  --font-family-accent: "Leotaro";
  --container-width: 1110px;
  --container-padding-x: 20px;
  --section-padding-y: 60px;
  --input-height: 40px;
  --button-height: 47px;
  --transition-duration: 0.2s;
}
@media (max-width: 1110px) {
  :root {
    --section-padding-y: 50px;
  }
}
@media (max-width: 767px) {
  :root {
    --section-padding-y: 30px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.content {
  flex: 1 0 auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.overflow-hidden {
  overflow: hidden;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .visible-tablet {
    display: none !important;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  height: fit-content;
  scroll-behavior: smooth;
}

body {
  font-size: clamp(16px, 1.125vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-light);
  background: var(--color-gradient);
  display: flex;
  flex-direction: column;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-accent);
  color: var(--color-accent);
  font-weight: normal;
}

h1 {
  font-size: clamp(29px, 2.625vw, 42px);
}

h2 {
  font-size: clamp(26px, 2vw, 32px);
}

h3 {
  font-size: clamp(22px, 1.75vw, 28px);
}

p {
  font-size: clamp(14px, 0.9375vw, 15px);
}

footer {
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;
  font-size: clamp(14px, 1vw, 16px);
}
@media (max-width: 767px) {
  .field {
    row-gap: 10px;
  }
}
.field__input {
  width: 100%;
  height: var(--input-height);
  color: var(--color-light);
  padding-inline: 20px;
  border: var(--border);
  border-radius: var(--border-radius-input);
  background-color: var(--color-bg-input);
  font-size: clamp(12px, 0.875vw, 14px);
}
.field__input:focus {
  outline: none;
  border-color: var(--color-light);
}
@media (hover: hover) {
  .field__input:hover {
    border: var(--border-button);
  }
}
@media (hover: none) {
  .field__input:active {
    border: var(--border-button);
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding-inline: 40px;
  font-size: 15px;
  color: var(--color-light);
  background: transparent;
  border: var(--border-button);
  border-radius: var(--border-raduis-button);
  width: fit-content;
  outline: none;
}
@media (hover: hover) {
  .button:hover {
    border: var(--border-button-hover);
    cursor: pointer;
  }
}
@media (hover: none) {
  .button:active {
    border: var(--border-button-hover);
    cursor: pointer;
  }
}
.button--accent {
  border: var(--border);
}
@media (hover: hover) {
  .button--accent:hover {
    border: var(--border-button);
    color: var(--color-light);
  }
}
@media (hover: none) {
  .button--accent:active {
    border: var(--border-button);
    color: var(--color-light);
  }
}
.button--bold {
  font-weight: 500;
}
.button--no-style {
  background: transparent;
  border: none;
  color: white;
  outline: none;
}
.button--no-style:hover {
  cursor: pointer;
  border: none;
  color: white;
}

.button-account {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  padding: 0;
  background-color: transparent;
  border: none;
  height: var(--button-height);
  padding-inline: 40px;
  font-size: 15px;
  background: var(--color-bg-input);
  color: var(--color-light);
  width: fit-content;
  outline: none;
  border-bottom: none;
}
@media (hover: hover) {
  .button-account:hover {
    background: transparent;
    cursor: pointer;
  }
}
@media (hover: none) {
  .button-account:active {
    background: transparent;
    cursor: pointer;
  }
}
.button-account--focused {
  border-bottom: var(--border-button);
  background: transparent;
  cursor: none;
}
@media (hover: hover) {
  .button-account--focused:hover {
    border-bottom: var(--border-button);
  }
}
@media (hover: none) {
  .button-account--focused:active {
    border-bottom: var(--border-button);
  }
}

.cross-button {
  outline: none;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity ease 0.5s;
}
@media (max-width: 1023px) {
  .cross-button {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 480px) {
  .cross-button {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    top: -15px;
  }
}
@media (hover: hover) {
  .cross-button:hover {
    opacity: 1;
  }
}
@media (hover: none) {
  .cross-button:active {
    opacity: 1;
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 3px;
  background: var(--color-light);
}
@media (max-width: 1023px) {
  .cross-button::before, .cross-button::after {
    width: 20px;
    height: 2px;
  }
}
@media (max-width: 480px) {
  .cross-button::before, .cross-button::after {
    width: 15px;
    height: 1.5px;
  }
}
.cross-button::before {
  transform: rotate(45deg);
}
.cross-button::after {
  transform: rotate(-45deg);
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 40px;
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
.grid--1 {
  gap: 80px;
}
@media (max-width: 767px) {
  .grid--1 {
    gap: 70px;
  }
}

.input {
  display: inline-block;
}

.input input[type=radio] {
  display: none;
}

.input label {
  width: max-content;
  display: inline-block;
  cursor: pointer;
  padding: 0 30px;
  line-height: 45px;
  border-radius: 5px;
  user-select: none;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s all;
  background-color: var(--color-bg-input);
}

.input input[type=radio]:checked + label {
  background: #EACAA1;
  color: rgb(0, 0, 0);
  border: 1px solid #EACAA1;
}

.input label:hover {
  color: rgba(234, 202, 161, 0.6274509804);
  transition: 0.2s all;
}

.input input[type=radio]:disabled + label {
  opacity: 0.4;
}
.input input[type=radio]:disabled + label:hover {
  color: white;
  cursor: not-allowed;
}

.header {
  padding: 25px 0 25px 0;
}
@media (max-width: 480px) {
  .header {
    padding: 20px 0 20px 0;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}
.header__menu {
  font-size: 15px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.header__menu-link {
  position: relative;
  height: 25px;
  display: inline-flex;
  align-items: center;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 1px;
  background-color: var(--color-accent);
  transition-duration: inherit;
}
@media (max-width: 1023px) {
  .header__menu {
    display: none;
  }
}
.header__extra {
  font-size: 15px;
}
.header__extra-list {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  align-items: center;
}
@media (max-width: 767px) {
  .header__extra-item--none {
    display: none;
  }
}
.header__extra-link {
  position: relative;
  height: 25px;
  display: inline-flex;
  align-items: center;
}
@media (max-width: 1023px) {
  .header__extra {
    margin-left: auto;
    column-gap: 45px;
  }
}

.dark-bg {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
  backdrop-filter: blur(4px);
}

.section {
  padding-block: var(--section-padding-y);
}
.section--hidden-x {
  overflow-x: hidden;
}
.section__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
.section__header-start {
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .section__header {
    margin-bottom: 35px;
  }
}
.section__title {
  text-align: center;
}

.hero__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 1023px) {
  .hero__main {
    margin-bottom: 75px;
  }
}
@media (max-width: 767px) {
  .hero__main {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
  }
}
.hero__body {
  max-width: 467px;
  max-height: 453px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 767px) {
  .hero__body {
    display: contents;
  }
}
.hero__description p {
  font-size: 18px;
}
@media (max-width: 767px) {
  .hero__description {
    order: -4;
  }
}
.hero__title {
  margin: 30px 0 45px 0;
}
@media (max-width: 767px) {
  .hero__title {
    order: -3;
    margin: 15px 0 40px 0;
  }
}
@media (max-width: 767px) {
  .hero__button {
    order: -2;
  }
}
.hero__slogan {
  font-size: 16px;
  font-family: var(--font-family-accent);
  color: var(--color-accent);
  margin-top: 120px;
}
@media (max-width: 767px) {
  .hero__slogan {
    margin-top: 35px;
  }
}
@media (max-width: 1023px) {
  .hero__image {
    max-width: 55%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .hero__image {
    order: -1;
    max-width: 90%;
    align-self: flex-end;
    margin-top: 70px;
  }
}

.categories__list .categories__item:nth-child(odd) {
  padding-right: 95px;
  justify-content: flex-end;
}
.categories__list .categories__item:nth-child(odd) .category-card__title {
  text-align: end;
}
@media (max-width: 1023px) {
  .categories__list .categories__item:nth-child(odd) {
    padding-right: 0px;
  }
}
.categories__list .categories__item:nth-child(even) {
  padding-left: 95px;
}
@media (max-width: 767px) {
  .categories__list .categories__item:nth-child(even) .category-card {
    flex-direction: column-reverse;
  }
}
.categories__list .categories__item:nth-child(even) .category-card__title {
  text-align: start;
}
@media (max-width: 1023px) {
  .categories__list .categories__item:nth-child(even) {
    padding-left: 0px;
  }
}

.category-card {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  min-height: 245px;
}
@media (max-width: 1023px) {
  .category-card {
    justify-content: space-evenly !important;
  }
}
@media (max-width: 767px) {
  .category-card {
    flex-direction: column;
    align-items: center;
  }
}
.category-card__title {
  align-self: flex-end;
  border-bottom: var(--color-accent) solid 1px;
  width: 100%;
}
@media (max-width: 1023px) {
  .category-card__title-hidden {
    display: none !important;
  }
}
.category-card__title-visible {
  text-align: start !important;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .category-card__title-visible {
    display: none !important;
  }
}
.category-card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
}
@media (max-width: 767px) {
  .category-card__body {
    max-width: 550px;
  }
}
.category-card__details {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}
@media (max-width: 767px) {
  .category-card__details {
    margin-bottom: 40px;
  }
}
.category-card__price {
  margin-bottom: 20px;
  opacity: 0.5;
}
.category-card__image {
  align-self: center;
}
@media (max-width: 767px) {
  .category-card__image {
    max-width: 55%;
    height: auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .category-card__button {
    float: right;
  }
}

.banner__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark-transparent);
  border-radius: var(--border-radius-banner);
  padding: 8px 8px;
}
.banner__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 25px;
  padding: 35px;
}
@media (max-width: 767px) {
  .banner__body {
    row-gap: 20px;
    padding: 25px;
  }
}
.banner__description {
  margin-bottom: 20px;
  max-width: 690px;
  font-size: 16px;
}
@media (max-width: 1023px) {
  .banner__image {
    max-width: 40%;
    height: auto;
  }
}
@media (max-width: 480px) {
  .banner__button {
    padding-inline: 25px;
  }
}

.tastes-banner .banner__inner, .presentation-banner .banner__inner {
  justify-content: center;
}
.tastes-banner .banner__body, .presentation-banner .banner__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tastes-banner .banner__title, .presentation-banner .banner__title {
  max-width: 488px;
  text-align: center;
}
.tastes-banner .banner__description, .presentation-banner .banner__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: clamp(14px, 1.125vw, 18px);
}
.tastes-banner .banner__description span:nth-child(2), .presentation-banner .banner__description span:nth-child(2) {
  opacity: 0.7;
}

.presentation-banner .banner__description {
  text-align: center;
}
@media (max-width: 480px) {
  .presentation-banner .banner__description {
    text-align: start;
  }
}
.presentation-banner .banner__description span {
  margin: auto;
  opacity: 1;
}

.reviews__list {
  gap: 55px;
}
@media (max-width: 767px) {
  .reviews__list {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    width: 100vw;
    column-gap: 20px;
  }
}
@media (max-width: 767px) {
  .reviews__item {
    min-width: 300px;
    scroll-snap-align: start;
  }
}

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  height: 100%;
}
.review-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  height: 100%;
}
.review-card__details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.review-card__name, .review-card__text {
  text-align: center;
  color: var(--color-light);
}
.review-card__name {
  font-size: 22px;
}
@media (max-width: 767px) {
  .review-card__name {
    font-size: 18px;
  }
}
.review-card__date {
  text-align: end;
  margin-top: 15px;
  font-size: 15px;
  opacity: 0.5;
}

.question-answer__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.question-answer__accordion {
  padding: 10px 90px;
  --opacity: 0.7;
  --rotate: 0deg;
}
@media (max-width: 767px) {
  .question-answer__accordion {
    padding: 10px 60px;
  }
}
@media (max-width: 480px) {
  .question-answer__accordion {
    padding: 10px 10px;
  }
}
.question-answer__accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  cursor: pointer;
  user-select: none;
  opacity: var(--opacity);
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .question-answer__accordion-header:hover {
    --opacity: 1;
    cursor: pointer;
  }
}
@media (hover: none) {
  .question-answer__accordion-header:active {
    --opacity: 1;
    cursor: pointer;
  }
}
.question-answer__accordion-title {
  font-family: var(--font-family-base);
  font-size: clamp(16px, 1.25vw, 20px);
}
.question-answer__accordion-body {
  padding: 15px 25px;
  margin-top: 20px;
  border-top: var(--border);
}
@media (max-width: 767px) {
  .question-answer__accordion-body {
    padding: 10px 15px;
    margin-top: 10px;
  }
}
.question-answer__accordion[open] {
  --opacity: 1;
}
.question-answer__accordion[open] .question-answer__accordion-indicator {
  --rotate: 180deg;
}
.question-answer__accordion-indicator {
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--color-accent);
  rotate: var(--rotate);
}

.tasting-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
  text-align: center;
  padding: 0 150px;
  margin-bottom: 80px;
}
.tasting-info__description p, .tasting-info__time p {
  font-size: clamp(14px, 1vw, 16px);
}
@media (max-width: 480px) {
  .tasting-info {
    margin-bottom: 70px;
  }
}
@media (max-width: 1023px) {
  .tasting-info {
    padding: 0 80px;
  }
}
@media (max-width: 767px) {
  .tasting-info {
    padding: 0 20px;
    row-gap: 50px;
  }
}
@media (max-width: 480px) {
  .tasting-info {
    padding: 0 0;
  }
}
.tasting-info__time {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  align-items: center;
}
.tasting-info__details {
  padding: 25px 40px;
  border-radius: var(--border-raduis-button);
  background-color: var(--color-bg-input);
  width: fit-content;
  font-size: clamp(15px, 1.125vw, 18px);
}
@media (max-width: 767px) {
  .tasting-info__details {
    padding: 15px 20px;
  }
}

.tasting, .presentation {
  display: flex;
  justify-content: center;
  background-color: var(--color-bg-dark);
  border-radius: var(--border-raduis-form);
  margin: auto;
  padding: 25px 25px;
  width: 100%;
}
@media (min-width: 481px) {
  .tasting, .presentation {
    width: 480px;
    padding: 45px 40px;
  }
}
.tasting__form, .presentation__form {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  align-items: center;
  width: 100%;
}
@media (min-width: 481px) {
  .tasting__form, .presentation__form {
    row-gap: 45px;
  }
}
.tasting__body, .presentation__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
@media (max-width: 480px) {
  .tasting__body, .presentation__body {
    row-gap: 20px;
  }
}

@media (min-width: 481px) {
  .presentation {
    min-width: 350px;
  }
}

.presentation-page {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
@media (max-width: 767px) {
  .presentation-page {
    flex-direction: column;
    row-gap: 40px;
  }
}
.presentation-page__description p {
  margin-bottom: 0;
  text-indent: 15px;
}
.presentation-page__details {
  display: flex;
  margin-top: 45px;
  flex-direction: column;
  row-gap: 25px;
  font-size: clamp(16px, 1.25vw, 20px);
}
@media (max-width: 767px) {
  .presentation-page__details {
    margin-top: 25px;
    row-gap: 15px;
  }
}

@media (max-width: 1110px) {
  .items__list {
    --gridColumns: 3;
  }
}
@media (max-width: 767px) {
  .items__list {
    --gridColumns: 2;
    gap: 20px;
  }
}

.design-categories {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .design-categories {
    margin-bottom: 30px;
  }
}
.design-categories__list {
  column-gap: 20px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .design-categories__list {
    display: flex;
  }
}
.design-categories__item {
  scroll-snap-align: start;
  width: max-content;
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 25px;
}
@media (max-width: 767px) {
  .item-card {
    height: 100%;
  }
}
.item-card__body {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  row-gap: 25px;
}
@media (max-width: 767px) {
  .item-card__body {
    height: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 480px) {
  .item-card__body {
    row-gap: 15px;
    font-size: 15px;
  }
}
.item-card__buy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 20px;
}
@media (max-width: 480px) {
  .item-card__buy {
    flex-direction: column;
    row-gap: 20px;
  }
}
@media (max-width: 480px) {
  .item-card__buy a {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .item-card__button {
    width: 100%;
  }
}

.item {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  row-gap: 30px;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .item {
    flex-direction: column;
  }
}
@media (max-width: 1023px) {
  .item {
    column-gap: 40px;
  }
}
@media (max-width: 1023px) {
  .item__image {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 480px) {
  .item__image {
    width: 320px;
    height: auto;
  }
}
.item__body {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  overflow-x: hidden;
}
@media (max-width: 1023px) {
  .item__body {
    row-gap: 40px;
  }
}
@media (max-width: 767px) {
  .item__body {
    row-gap: 25px;
  }
}
.item__details {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
@media (max-width: 1023px) {
  .item__details {
    row-gap: 25px;
  }
}
@media (max-width: 767px) {
  .item__details {
    row-gap: 20px;
  }
}

.component {
  display: flex;
  flex-direction: column;
  column-gap: 15px;
  row-gap: 15px;
}
.component__list {
  column-gap: 15px;
  row-gap: 15px;
  flex-wrap: wrap;
  display: flex;
}
@media (max-width: 767px) {
  .component__list {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
}
@media (max-width: 767px) {
  .component__item {
    scroll-snap-align: start;
    width: max-content;
  }
}
.component__biscuits-info {
  text-align: end;
  font-size: clamp(14px, 1vw, 16px);
  background: transparent;
}

.cart {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}
@media (max-width: 1023px) {
  .cart {
    column-gap: 40px;
  }
}
@media (max-width: 767px) {
  .cart {
    row-gap: 30px;
    flex-direction: column;
  }
}
.cart__items {
  flex: 1;
}
.cart__item:not(:last-child) {
  border-bottom: var(--border-cart);
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
@media (max-width: 1023px) {
  .cart-item {
    column-gap: 15px;
  }
}
@media (max-width: 480px) {
  .cart-item {
    column-gap: 10px;
    position: relative;
  }
}
@media (max-width: 1023px) {
  .cart-item__image {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 480px) {
  .cart-item__image {
    width: 120px;
    height: 120px;
    margin-top: 2px;
  }
}
.cart-item__body {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 30px;
}
@media (max-width: 1023px) {
  .cart-item__body {
    column-gap: 15px;
  }
}
@media (max-width: 767px) {
  .cart-item__body {
    justify-content: space-between;
  }
}
@media (max-width: 625px) {
  .cart-item__body {
    flex-direction: column;
    row-gap: 10px;
  }
}
.cart-item__description {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}
@media (max-width: 767px) {
  .cart-item__description {
    width: 70%;
  }
}
@media (max-width: 625px) {
  .cart-item__description {
    row-gap: 10px;
  }
}
@media (max-width: 480px) {
  .cart-item__description {
    row-gap: 5px;
    width: 100%;
  }
}
.cart-item__title {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  font-size: clamp(16px, 1.25vw, 20px);
  justify-content: space-between;
}
.cart-item__count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart-item__counter {
  width: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .cart-item__counter {
    width: 60px;
  }
}
.cart-item__pieces {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  .cart-item__pieces {
    row-gap: 5px;
  }
}
.cart-item__pieces p {
  font-size: clamp(14px, 1.125vw, 18px);
  margin-bottom: 0;
}
.cart-item__taste {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: clamp(14px, 1.125vw, 18px);
}
@media (max-width: 480px) {
  .cart-item__taste {
    row-gap: 5px;
  }
}
.cart-item__price {
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: center;
}
@media (max-width: 625px) {
  .cart-item__price {
    flex-direction: row-reverse;
    column-gap: 15px;
  }
}
.cart-item__price p {
  font-size: clamp(16px, 1.125vw, 18px);
  inline-size: max-content;
  text-align: center;
}
@media (max-width: 625px) {
  .cart-item__price p {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .cart-item__price p {
    font-size: 15px;
  }
}
.cart-item__button {
  margin-left: 50px;
}
@media (max-width: 1023px) {
  .cart-item__button {
    margin-left: 5px;
  }
}
@media (max-width: 767px) {
  .cart-item__button {
    margin-left: 75px;
  }
}
@media (max-width: 625px) {
  .cart-item__button {
    margin-left: 5px;
  }
}
@media (max-width: 480px) {
  .cart-item__button {
    margin-left: 0;
  }
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 275px;
}
@media (max-width: 1023px) {
  .order {
    width: 225px;
  }
}
@media (max-width: 767px) {
  .order {
    margin: auto;
    width: 350px;
  }
}
@media (max-width: 480px) {
  .order {
    width: 100%;
  }
}
.order__form {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  justify-content: flex-start;
}
@media (min-width: 481px) {
  .order__form {
    row-gap: 45px;
  }
}
.order__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
@media (max-width: 480px) {
  .order__body {
    row-gap: 20px;
  }
}
.order__total p {
  font-size: clamp(16px, 1.125vw, 18px);
  font-weight: 500;
  text-align: end;
  margin-bottom: 0;
}
.order__total span:nth-child(2) {
  float: right;
  font-size: clamp(14px, 1vw, 16px);
}
.order__button {
  width: 100%;
}
.order__textarea {
  outline: none;
  width: 100%;
  padding: 15px 20px;
  height: 100px;
  resize: none;
}
.order__textarea::placeholder {
  color: var(--color-light);
  opacity: 0.3;
}

.radios {
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
}

.radio {
  display: flex;
  align-items: center;
  column-gap: 14px;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .radio:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
@media (hover: none) {
  .radio:active {
    opacity: 0.6;
    cursor: pointer;
  }
}
.radio__input:not(:checked) + .radio__emulator::after {
  opacity: 0;
}
.radio__label {
  font-size: clamp(14px, 1vw, 16px);
}
.radio__emulator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  aspect-ratio: 1;
  position: relative;
  border: var(--border);
  border-radius: 50%;
}
.radio__emulator::after {
  width: 35%;
  aspect-ratio: 1;
  content: "";
  background-color: var(--color-accent);
  border-radius: inherit;
  transition-duration: var(--transition-duration);
}

.login, .register, .forgot {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  position: fixed;
  padding: 45px 40px;
  border-radius: var(--border-radius-auth-form);
  background-color: var(--color-bg-dark);
  z-index: 150;
}
@media (max-width: 480px) {
  .login, .register, .forgot {
    width: 100%;
    row-gap: 30px;
    padding: 25px 20px;
  }
}
.login__close, .register__close, .forgot__close {
  margin-left: auto;
}
.login__title h2, .register__title h2, .forgot__title h2 {
  margin: 0;
}
.login__form, .register__form, .forgot__form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
@media (max-width: 480px) {
  .login__form, .register__form, .forgot__form {
    row-gap: 20px;
  }
}
.login__forgot, .register__forgot, .forgot__forgot {
  margin-left: auto;
  font-size: 14px;
}
@media (hover: hover) {
  .login__forgot:hover, .register__forgot:hover, .forgot__forgot:hover {
    color: var(--color-accent);
    cursor: pointer;
  }
}
@media (hover: none) {
  .login__forgot:active, .register__forgot:active, .forgot__forgot:active {
    color: var(--color-accent);
    cursor: pointer;
  }
}
.login__button, .register__button, .forgot__button {
  margin-top: 15px;
  width: 100%;
}
.login__register, .login__login, .register__register, .register__login, .forgot__register, .forgot__login {
  text-align: center;
  font-size: clamp(14px, 1vw, 16px);
}
.login__register span, .login__login span, .register__register span, .register__login span, .forgot__register span, .forgot__login span {
  color: var(--color-accent);
  font-size: clamp(14px, 1vw, 16px);
}
@media (hover: hover) {
  .login__register span:hover, .login__login span:hover, .register__register span:hover, .register__login span:hover, .forgot__register span:hover, .forgot__login span:hover {
    color: var(--color-light);
    cursor: pointer;
  }
}
@media (hover: none) {
  .login__register span:active, .login__login span:active, .register__register span:active, .register__login span:active, .forgot__register span:active, .forgot__login span:active {
    color: var(--color-light);
    cursor: pointer;
  }
}

.forgot {
  z-index: 120;
}

@media (hover: hover) {
  .login-button:hover {
    color: var(--color-accent);
    cursor: pointer;
  }
}
@media (hover: none) {
  .login-button:active {
    color: var(--color-accent);
    cursor: pointer;
  }
}

.about {
  row-gap: 60px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .about {
    row-gap: 45px;
  }
}
.about__title p, .about__ingredients p, .about__conclusion p {
  text-align: center;
  font-size: clamp(12px, 1vw, 16px);
}
@media (max-width: 480px) {
  .about__title br {
    display: none;
  }
}
.about__ingredients p {
  text-align: start;
}
@media (max-width: 767px) {
  .about__ingredients br {
    display: none;
  }
}
.about__conclusion p {
  font-size: clamp(16px, 1.25vw, 20px);
  text-align: end;
}
.about__list {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
@media (max-width: 767px) {
  .about__list {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }
}
.about__button {
  text-align: center;
}
@media (max-width: 767px) {
  .about__item {
    min-width: 250px;
    scroll-snap-align: start;
  }
}

.about-card {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}
@media (max-width: 480px) {
  .about-card__image {
    width: 100px;
    height: 100px;
  }
}
.about-card__body p {
  font-size: clamp(14px, 1vw, 16px);
  text-align: start;
}

.account {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}
.account__buttons {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.account__exit-button {
  margin-left: auto;
}
.account__exit-button button {
  padding-inline: 0;
  align-items: end;
  font-size: 16px;
}
.account__data {
  display: flex;
  flex-direction: row;
  column-gap: 45px;
  padding: 0 20px;
}
.account__form {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.account__fields {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.account__discount {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.account__discount span {
  font-size: clamp(16px, 1.25vw, 20px);
}
.account__image-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.footer__inner {
  padding: 50px 0 50px 0;
}
@media (max-width: 767px) {
  .footer__inner {
    padding: 30px 0 30px 0;
  }
}
.footer__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
@media (max-width: 767px) {
  .footer__navigation {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
.footer__navigation:not(:last-child) {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: var(--border);
}
@media (max-width: 767px) {
  .footer__navigation:not(:last-child) {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}
.footer__menu {
  font-size: 15px;
}
.footer__menu-list {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
@media (max-width: 767px) {
  .footer__menu-list {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
}
.footer__menu-link {
  text-decoration: underline;
}
@media (hover: hover) {
  .footer__menu-link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .footer__menu-link:active {
    color: var(--color-accent);
  }
}
.footer__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 40px;
  align-items: flex-end;
}
@media (max-width: 767px) {
  .footer__body {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 25px;
}
.footer__contacts-body {
  font-style: normal;
}
.footer__contacts-body p {
  --paragraphMarginBottom: 15px;
}
@media (max-width: 767px) {
  .footer__contacts-body p {
    text-align: center;
    --paragraphMarginBottom: 10px;
  }
}
@media (max-width: 767px) {
  .footer__copyright {
    text-align: center;
  }
}

/*# sourceMappingURL=app.css.map */
