.about {
    row-gap: 60px;

    @include mobile {
        row-gap: 45px;
    }
    display: flex;
    flex-direction: column;

    &__title, &__ingredients, &__conclusion {
        p {
            text-align: center;
            @include fluid-text(16, 12);
        }
    }

    &__title {
        @include mobile-s {
            br {
                display: none;
            }
        }
    }


    &__ingredients {
        p {
            text-align: start;
        }

        @include mobile {
            br {
                display: none;
            }
        }
    }

    &__conclusion {
        p {
            @include fluid-text(20, 16);
            text-align: end;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        column-gap: 20px;

        @include mobile {
            scroll-snap-type: x mandatory;
            overflow-x: scroll;
        }
    }

    &__button {
        text-align: center;
    }

    &__item {
        @include mobile {
            min-width: 250px;
            scroll-snap-align: start;
        }
    }
}
