.login, .register, .forgot {
    width: 400px;

    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 35px;

    @include mobile-s {
        width: 100%;
        row-gap: 30px;
        padding: 25px 20px;

    }
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    position: fixed;
    padding: 45px 40px;
    border-radius: var(--border-radius-auth-form);
    background-color: var(--color-bg-dark);
    z-index: 150;

    &__close {
        margin-left: auto;
    }


    &__title {
        h2 {
            margin: -35px 0 0 0;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        @include mobile-s {
            row-gap: 20px;
        }
    }

    &__forgot {
        margin-left: auto;
        font-size: 14px;

        @include hover {
            color: var(--color-accent);
            cursor: pointer;
        }
    }

    &__button {
        margin-top: 15px;
        width: 100%;
    }

    &__register, &__login {
        text-align: center;
        @include fluid-text(16, 14);

        span {
            color: var(--color-accent);
            @include fluid-text(16, 14);
            @include hover {
                color: var(--color-light);
                cursor: pointer;
            }
        }
    }
}

.forgot {
    z-index: 120;

    &__title {
        h2 {
            margin: 0;
        }
    }

}

.login-button {

    @include hover {
        color: var(--color-accent);
        cursor: pointer;
    }
}
