.banner {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-dark-transparent);
        border-radius: var(--border-radius-banner);
        padding: 8px 8px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 25px;
        padding: 35px;

        @include mobile {
            row-gap: 20px;
            padding: 25px;
        }
    }

    &__description {
        margin-bottom: 20px;
        max-width: 690px;
        font-size: 16px;

    }

    &__image {
        @include tablet {
            max-width: 40%;
            height: auto;
        }
    }

    &__button {
        @include mobile-s {
            padding-inline: 25px;
        }
    }

}

.tastes-banner, .presentation-banner {

    .banner {

        &__inner {
            justify-content: center;
        }

        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            max-width: 488px;
            text-align: center;
        }

        &__description {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            @include fluid-text(18, 14);

            span:nth-child(2) {
                opacity: 0.7;
            }
        }
    }

}

.presentation-banner {
    .banner {
        &__description {
            text-align: start;

            span {
                margin-left: auto;
                opacity: 1;
            }
        }

    }
}


