.button {
    @include flex-center(true);

    height: var(--button-height);
    padding-inline: 40px;
    font-size: 15px;
    color: var(--color-light);
    background: transparent;
    border: var(--border-button);
    border-radius: var(--border-raduis-button);
    width: fit-content;
    outline: none;

    @include hover {
        border: var(--border-button-hover);
        cursor: pointer;
    }

    &--accent {
        border: var(--border);
        @include hover {
            border: var(--border-button);
            color: var(--color-light);
        }
    }

    &--bold {
        font-weight: 500;
    }

    &--no-style {
        background: transparent;
        border: none;
        color: white;
        outline: none;

        &:hover {
            cursor: pointer;
            border: none;
            color: white;
        }
    }
}

.button-account {
    @include flex-center(true);
    @include reset-button;

    height: var(--button-height);
    padding-inline: 40px;
    font-size: 15px;
    background: var(--color-bg-input);
    color: var(--color-light);
    width: fit-content;
    outline: none;
    border-bottom: none;

    @include hover {
        background: transparent;
        cursor: pointer;
    }

    &--focused {
        border-bottom: var(--border-button);
        background: transparent;
        cursor: none;
        @include hover {
            border-bottom: var(--border-button);
        }
    }

}


