.button {
    @include flex-center(true);

    height: var(--button-height);
    padding-inline: 40px;
    font-size: 15px;
    color: var(--color-light);
    background: transparent;
    border: var(--border-button);
    border-radius: var(--border-raduis-button);
    width: fit-content;
    outline: none;

    @include hover {
        border: var(--border-button-hover);
        cursor: pointer;
    }

    &--accent {
        border: var(--border);
        @include hover {
            border: var(--border-button);
            color: var(--color-light);
        }
    }

    &--bold {
        font-weight: 500;
    }

    &--no-style {
        background: transparent;
        border: none;
        color: white;
        cursor: pointer;
        outline: none;

        &:hover {
            color: var(--color-accent);
        }
    }

}


