.cake {

    display: flex;
    flex-direction: column;
    row-gap: 45px;

    &__title {
        h3 {
            margin-bottom: 0;
        }
    }

    &__body {
        display: flex;
        row-gap: 5px;
        flex-direction: column;
    }

    &__price {
        p {
            text-align: end;
            @include fluid-text(24, 18);
            font-family: var(--font-family-accent);
            margin-bottom: 0;
        }
    }

    &__components {
        display: flex;
        flex-direction: row;
        column-gap: 50px;
        row-gap: 30px;

        @include mobile {
            flex-direction: column;
        }

        @include tablet {
            column-gap: 40px;
        }
    }

    &__view {
        margin-bottom: 45px;
    }


    &__image {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 25px;
        min-width: 300px;
        margin: auto;

        @include tablet {
            padding: 0;
        }

        @include mobile-s {
            padding: 0;
            min-width: auto;
        }
        justify-content: center;

        span {
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                opacity: 0.05;
            }
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    &__designs {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }

    &__description {
        p {
            @include fluid-text(18, 16);

            &:nth-child(2) {
                opacity: 0.7;
            }
        }
    }

    &__examples {
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
    }

    &__example {
        display: flex;
        min-width: 200px;
        scroll-snap-align: start;
        width: 100%;
        flex-direction: column;
    }

    &__button {
        margin: auto;
    }
}
