.cart {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;

    &__items {
        flex: 1;
    }

    &__item {

        &:not(:last-child) {
            border-bottom: var(--border-cart);
            margin-bottom: 40px;
            padding-bottom: 40px;
        }
    }


}
