.component {
    display: flex;
    flex-direction: column;
    column-gap: 15px;
    row-gap: 15px;


    &__list {
        column-gap: 15px;
        row-gap: 15px;
        flex-wrap: wrap;

        @include mobile {
            scroll-snap-type: x mandatory;
            overflow-x: scroll;
            flex-wrap: nowrap;
        }

        display: flex;
    }

    &__item {
        @include mobile {
            scroll-snap-align: start;
            width: max-content;
        }
    }

    &__biscuits-info {
        text-align: end;
        @include fluid-text(16, 14);
        background: transparent;
    }
}
