.cross-button {

   @include reset-button;
    width: 24px;
    height: 24px;

    @include tablet {
        width: 20px;
        height: 20px;
    }

    @include mobile-s {
        width: 15px;
        height: 15px;
        position: absolute;
        right: 0;
        top: -15px;
    }

    opacity: 0.5;
    cursor: pointer;
    transition: opacity ease 0.5s;

    @include hover{
        opacity: 1;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 24px;

        @include tablet {
            width: 20px;
            height: 2px;
        }

        @include mobile-s {
            width: 15px;
            height: 1.5px;
        }

        height: 3px;
        background: var(--color-light);
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}
