.field {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 5px;

    @include mobile {
        row-gap: 10px;
    }

    @include fluid-text(16, 14);

    &__input {
        width: 100%;
        height: var(--input-height);
        color: var(--color-light);
        padding-inline: 20px;
        border: var(--border);
        border-radius: var(--border-radius-input);
        background-color: var(--color-bg-input);

        &:focus {
            outline: none;
            border-color: var(--color-light);
        }

        @include fluid-text(14, 12);

        @include hover {
            border: var(--border-button);
        }
    }
}
