.header {
    padding: 25px 0 25px 0;

    @include mobile-s {
        padding: 20px 0 20px 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 15px;
    }


    &__menu {
        font-size: 15px;

        &-list {
            display: flex;
            align-items: center;
            column-gap: 20px;
        }

        &-link {
            position: relative;
            height: 25px;
            display: inline-flex;
            align-items: center;

            @include hover {
                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                translate: -50%;
                width: 0;
                height: 1px;
                background-color: var(--color-accent);
                transition-duration: inherit;

            }
        }

        @include tablet {
            display: none;
        }
    }

    &__extra {
        font-size: 15px;

        &-list {
            display: flex;
            flex-direction: row;
            column-gap: 25px;
            align-items: center;
        }

        &-item--none {
            @include mobile {
                display: none;
            }
        }

        &-link {
            position: relative;
            height: 25px;
            display: inline-flex;
            align-items: center;
        }

        @include tablet {
            margin-left: auto;
            column-gap: 45px;
        }


    }
}
