.items {

    &__list {
            @include desktop {
            --gridColumns: 3;
            gap: 20px;
        }

        @include mobile-m {
            --gridColumns: 2;
            gap: 10px;
        }
    }
}
