.tasting {
    display: flex;
    justify-content: center;
    background-color: var(--color-bg-dark);
    border-radius: var(--border-raduis-form);
    margin: auto;
    padding: 25px 15px;

    @include mobile-s-above {
        width: 480px;
        padding: 45px 40px  ;
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 35px;

        @include mobile-s-above {
            row-gap: 45px;
        }

        align-items: center;
        width: 100%;
    }

    &__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        @include mobile-s {
            row-gap: 20px;
        }
    }
}
